---
http_interactions:
- request:
    method: post
    uri: https://api-staging.qwwik.com/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"payouts","id":1,"attributes":{"category":"BusinessPayment","amount":1000,"recipient_no":"25472264885","recipient_type":"msisdn","posted_at":"2019-11-20
        13:07:05 +0300","recipient_id_type":"national_id","recipient_id_number":"12345567","reference":"142345654"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '404 page not found

'
  recorded_at: Wed, 20 Nov 2019 10:07:06 GMT
recorded_with: VCR 5.0.0
