---
http_interactions:
- request:
    method: post
    uri: https://api-staging.qwwik.com/mpesa/payouts
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"amount":1000,"category":"BusinessPayBill","posted_at":"2019-03-18T17:22:09.651011Z","recipient_id_number":"21212121","recipient_id_type":"national_id","recipient_no":"601000","recipient_type":"shortcode","reference":"7000"},"id":"470172c7-7844-47af-8b1b-c95d77b7323e","type":"payouts"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - keyId="0f14b9acfedf4993ba73921e32de169b",algorithm="hmac-sha256",signature="ZK0f7XDl0SR8Ih2y74S7VAvPbCgRHoAbJ%2BftAFP5FLY%3D"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "type": "responses",
            "id": "AG_20191121_000045c4694a18ffd20e",
            "attributes": {
              "resource_id": "470172c7-7844-47af-8b1b-c95d77b7323e"
            }
          }
        }
  recorded_at: Thu, 21 Nov 2019 13:06:46 GMT
recorded_with: VCR 5.0.0
