---
http_interactions:
- request:
    method: post
    uri: https://api-staging.qwwik.com/mpesa/payouts
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"amount":100,"category":"BusinessPayment","posted_at":"2019-03-18T17:22:09.651011Z","recipient_id_number":"21212121","recipient_id_type":"national_id","recipient_no":"0722000024","recipient_type":"msisdn","reference":"12345678"},"id":"7f693788-70d9-4bd3-9bac-2ab442ec753e","type":"payouts"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - keyId="0f14b9acfedf4993ba73921e32de169b",algorithm="hmac-sha256",signature="cSg3RU76VfleF884Ck4YiXwGmRc6W5Stenbp%2BlDNNQ4%3D"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Ratelimit-Limit:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "type": "responses",
            "id": "AG_20191121_00004586cc46d162cf8e",
            "attributes": {
              "resource_id": "7f693788-70d9-4bd3-9bac-2ab442ec753e"
            }
          }
        }
  recorded_at: Thu, 21 Nov 2019 13:06:44 GMT
recorded_with: VCR 5.0.0
