---
http_interactions:
- request:
    method: post
    uri: https://api-staging.qwwik.com/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"urls","id":1,"attributes":{"confirmation_url":"https://example.com/confirm","validation_url":"https://example.com/validate","short_code":"600234","response_type":"Completed"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '404 page not found

'
  recorded_at: Wed, 20 Nov 2019 10:07:07 GMT
recorded_with: VCR 5.0.0
